<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>I am Muslim.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>7</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9782B46FDBB1A0693EE974605810726D70AAC6AB</string>
				<key>dateExpires</key>
				<string>27/12/2025</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1200</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9782B46FDBB1A0693EE974605810726D70AAC6AB</string>
						<key>dateExpires</key>
						<string>27/12/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleMobileAds.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QYS6J7K5DZ</string>
						<key>name</key>
						<string>SHEAKH NAIMUR RAHMAN EMON</string>
					</dict>
					<key>versionNumber</key>
					<string>12.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9782B46FDBB1A0693EE974605810726D70AAC6AB</string>
						<key>dateExpires</key>
						<string>27/12/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QYS6J7K5DZ</string>
						<key>name</key>
						<string>SHEAKH NAIMUR RAHMAN EMON</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9782B46FDBB1A0693EE974605810726D70AAC6AB</string>
						<key>dateExpires</key>
						<string>27/12/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QYS6J7K5DZ</string>
						<key>name</key>
						<string>SHEAKH NAIMUR RAHMAN EMON</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9782B46FDBB1A0693EE974605810726D70AAC6AB</string>
						<key>dateExpires</key>
						<string>27/12/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalFramework.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QYS6J7K5DZ</string>
						<key>name</key>
						<string>SHEAKH NAIMUR RAHMAN EMON</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9782B46FDBB1A0693EE974605810726D70AAC6AB</string>
						<key>dateExpires</key>
						<string>27/12/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalInAppMessages.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QYS6J7K5DZ</string>
						<key>name</key>
						<string>SHEAKH NAIMUR RAHMAN EMON</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9782B46FDBB1A0693EE974605810726D70AAC6AB</string>
						<key>dateExpires</key>
						<string>27/12/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalLiveActivities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QYS6J7K5DZ</string>
						<key>name</key>
						<string>SHEAKH NAIMUR RAHMAN EMON</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9782B46FDBB1A0693EE974605810726D70AAC6AB</string>
						<key>dateExpires</key>
						<string>27/12/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalLocation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QYS6J7K5DZ</string>
						<key>name</key>
						<string>SHEAKH NAIMUR RAHMAN EMON</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9782B46FDBB1A0693EE974605810726D70AAC6AB</string>
						<key>dateExpires</key>
						<string>27/12/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalNotifications.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QYS6J7K5DZ</string>
						<key>name</key>
						<string>SHEAKH NAIMUR RAHMAN EMON</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9782B46FDBB1A0693EE974605810726D70AAC6AB</string>
						<key>dateExpires</key>
						<string>27/12/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOSCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QYS6J7K5DZ</string>
						<key>name</key>
						<string>SHEAKH NAIMUR RAHMAN EMON</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9782B46FDBB1A0693EE974605810726D70AAC6AB</string>
						<key>dateExpires</key>
						<string>27/12/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOutcomes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QYS6J7K5DZ</string>
						<key>name</key>
						<string>SHEAKH NAIMUR RAHMAN EMON</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9782B46FDBB1A0693EE974605810726D70AAC6AB</string>
						<key>dateExpires</key>
						<string>27/12/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalUser.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QYS6J7K5DZ</string>
						<key>name</key>
						<string>SHEAKH NAIMUR RAHMAN EMON</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9782B46FDBB1A0693EE974605810726D70AAC6AB</string>
						<key>dateExpires</key>
						<string>27/12/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>UserMessagingPlatform.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QYS6J7K5DZ</string>
						<key>name</key>
						<string>SHEAKH NAIMUR RAHMAN EMON</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9782B46FDBB1A0693EE974605810726D70AAC6AB</string>
						<key>dateExpires</key>
						<string>27/12/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>QYS6J7K5DZ.com.sheakh.I-am-Muslim.PrayerTimesWidget</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>QYS6J7K5DZ</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.sheakhemon.iammuslim</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>PrayerTimesWidgetExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>6cd1c02e-1d2b-4824-96cd-fe3d2979d322</string>
						<key>dateExpires</key>
						<string>27/12/2025</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.sheakh.I-am-Muslim.PrayerTimesWidget</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QYS6J7K5DZ</string>
						<key>name</key>
						<string>SHEAKH NAIMUR RAHMAN EMON</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QYS6J7K5DZ.com.sheakh.I-am-Muslim</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>QYS6J7K5DZ</string>
				<key>com.apple.developer.usernotifications.time-sensitive</key>
				<true/>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.sheakhemon.iammuslim</string>
					<string>group.com.sheakhemon.iammuslim.onesignal</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>I am Muslim.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>90a1978a-b5c3-40dc-9e7f-b526543b6180</string>
				<key>dateExpires</key>
				<string>27/12/2025</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.sheakh.I-am-Muslim</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QYS6J7K5DZ</string>
				<key>name</key>
				<string>SHEAKH NAIMUR RAHMAN EMON</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0.2</string>
		</dict>
	</array>
</dict>
</plist>
